* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Setting a class for Beginner Level */
/* todo To reduce size of H&W when ready */
.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 100%;
  justify-content: center;
  height: 400px;
  width: 400px;
  /* Setting a class for Intermediate Level */
  /* todo To reduce size of H&W when ready */
  /* .grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 500px;
} */
  /* Setting a class for Expert Level
/* todo To reduce size of H&W when ready */
  /* .grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 100%;
  justify-content: center;
  height: 400px;
  width: 800px; */
}

.grid div {
  border: 1px solid lightgrey;
  height: 100%;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.grid > .covered {
  background-image: url(../assets/img/blank.gif);
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.uncovered {
  background-image: url(../assets/img/numbers/open0.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid-wrapper > .grid > .flagged {
  background-image: url("../assets/img/bombflagged.gif");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.bomb {
  background-image: url("../assets/img/bombrevealed.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: red;
}
.uncoveredOne {
  background-image: url(../assets/img/numbers/open1.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.uncoveredTwo {
  background-image: url(../assets/img/numbers/open2.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.uncoveredThree {
  background-image: url(../assets/img/numbers/open3.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.uncoveredFour {
  background-image: url(../assets/img/numbers/open4.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.uncoveredFive {
  background-image: url(../assets/img/numbers/open5.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.uncoveredSix {
  background-image: url(../assets/img/numbers/open6.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.uncovereSeven {
  background-image: url(../assets/img/numbers/open7.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.uncoveredEight {
  background-image: url(../assets/img/numbers/open8.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
